#jeu {
    width: 300px;
    margin: 1%;
    padding: 1%;
    border: 2px solid black;
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

#mon_de,
#mon_de2 {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#joueur1,
#joueur2 {
    border: 1px solid black;
    margin: 1%;
}

#score_round_joueur_1,
#global_joueur_1,
#score_round_joueur_2,
#global_joueur_2 {
    margin: 1%;
}

#bt {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
}